.link {
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: var(--cor-fonte-principal);
}

.linkDestacado {
    text-decoration: underline;
}

.link:hover {
    color: #fff;
    font-weight: 700;
    background-color: var(--cor-background);
    padding: 0.5em;
    border-radius: 8px;
}