.banner {
    padding: 3rem 7.5rem 6.25rem;
    background-color: #3a0ca3;
    color: var(--branco);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.titulo {
    font-family: var(--fonte-secundaria);
    font-size: 4rem;
    margin-top: 4.875rem;
    margin-bottom: 2rem;
}

.paragrafo {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 2rem;
}

.imagens {
    position: relative;
    height: 406px;
    top: -1em;
}

.imagens > .minhaFoto {
    position: absolute;
    right: 4em;
    bottom: 1em;
    height: 22vw;
    width: 22vw;
    border-radius: 50%;
}

.imagens > .circuloColorido {
    position: absolute;
    right: 3vw;
    bottom: -1.2vw;
    width: 25vw;
}

/* @media (max-width: 1021px) {    
    .banner {
        padding: 3.5rem 1.5rem;
    }

    .titulo {
        margin-top: 0;
        margin-bottom: 1.5rem;
    }

    .paragrafo {
        margin-bottom: 1.5rem;
    }

    .imagens {
        height: 338px;
    }

    .imagens > .minhaFoto {
        width: 25vw;
    }

    .imagens > .circuloColorido {
        right: 10vw;
        width: 35vw;
    }
} */

@media (max-width: 997px) {
    .banner {
        padding: 1rem 1rem;
        display: flex;
    }

    .titulo {
        margin-bottom: 1rem;
    }

    .paragrafo {
        margin-bottom: 1rem;
    }
    .imagens {
        display: none;
    }
}